<!-- <header class="header">
    <div class="container-fluid position-relative py-3">
        <div class="logo-Zinapecuaro_Cuenta_Conmigo">
            <div class="site-logo text-center">
                <span class=" fuente-roboto-1">Zinapecuaro Cuenta Conmigo.</span>
                <img class="img-fluid" src="\assets\img\2_LOGO\LOGO_ORIGINAL.png" alt="logo" width="200px" height="200px">

            </div>
        </div>
    </div>
</header> -->




<!-- NAVAR COMPONENTS -->
<nav class="navbar navbar-expand-sm navbar-dark color-z2">
    <a class="navbar-brand" href="#"></a>
    <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId" aria-expanded="false" aria-label="Toggle navigation"></button>
    <div class="collapse navbar-collapse" id="collapsibleNavId">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
                <a class="nav-link" href="#"><span class="sr-only"></span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#"></a>
            </li>
            <li class="nav-item dropdown">


            </li>
        </ul>

    </div>
</nav>

<!-- FIN DE NAVAR COMPONENTS -->

<section class="hero-section">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-7 pt-5 mb-5 align-self-center">
                <div class="promo pe-md-3 pe-lg-5">
                    <span class="fuente-roboto-1  color-f2">
                        ZINAPÉCUARO <br>  CUENTA CONMIGO.
                    </span>
                    <!--//headline-->
                    <div class="fuente-roboto-3 mb-4">
                        Somos una Asociacion Civil, la cual nos encargamos de ayudar y apollar a personas de bajos recursos, impulsamos pequeños negocions orientandolos
                    </div>
                    <!--//subheading-->

                    <div class="cta-holder row gx-md-3 gy-3 gy-md-0">
                        <div class="col-12 col-md-auto">
                            <a class="btn btn-c w-100" href="https://www.facebook.com/profile.php?id=100064876893047">
                                <img src="assets/img/6_SIGUENOS/facebook.svg" alt="icono" width="20" height="20"> FACEBOOK </a>
                        </div>
                        <!-- <div class="col-12 col-md-auto">
                            <a class="btn btn-a  w-100" href="https://wa.link/o7xk6q"><i class="fa fa-whatsapp" aria-hidden="true"></i>WHATSAPP</a>
                        </div> -->
                    </div>
                    <!--//cta-holder-->




                    <!-- Linea lateral y flecha  -->
                    <div class="hero-quotes mt-5">
                        <div id="quotes-carousel" class="fuente-roboto-4 carousel slide carousel-fade mb-5" data-bs-ride="carousel" data-bs-interval="8000">
                            <ol class="carousel-indicators">
                                <li data-bs-target="#quotes-carousel" data-bs-slide-to="0" class="active"></li>
                                <li data-bs-target="#quotes-carousel" data-bs-slide-to="1"></li>
                            </ol>



                            <!-- CARRUSEL DE INTEGRANTES  DIRECTOR-->
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <blockquote class="quote p-4 theme-bg-light">
                                        Todos tenemos la oportunidad y responsabilidad de ayudar en proporción de nuestras posibilidades. Ponernos al servicio de los demás es una de las virtudes más nobles y gratificantes.
                                    </blockquote>
                                    <!--//item-->
                                    <div class="source row gx-md-3 gy-3 gy-md-0 align-items-center">
                                        <div class="col-12 col-md-auto text-center text-md-start ">
                                            <img class="source-profile" src="assets\img\3_INTEGRANTES\JuanP.jpeg" alt="image">
                                        </div>
                                        <!--//col-->
                                        <div class="col  text-center text-md-start">
                                            <div class="fuente-roboto-4">JUAN PABLO RODRIGUEZ SALINAS.</div>
                                            <div class="fuente-roboto-5">FUNDADOR.</div>
                                        </div>
                                        <!--//col-->
                                    </div>
                                    <!--//source-->
                                </div>
                                <!-- FIN CARRUSEL DE INTEGRANTES  DIRECTOR-->





                                <!-- CARRUSEL DE SEGUNDO INTEGRANTES  -->
                                <div class="carousel-item">
                                    <blockquote class="quote p-4 theme-bg-light">
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut impedit sunt quam fuga provident voluptatibus soluta laborum doloribus maxime ullam, fugit deleniti nesciunt ea rerum qui saepe non possimus modi?
                                    </blockquote>



                                    <div class="source row gx-md-3 gy-3 gy-md-0 align-items-center">


                                        <!-- IMAGEN DE KARINA -->
                                        <div class="col-12 col-md-auto text-center text-md-start">
                                            <img class="source-profile" src="assets\img\3_INTEGRANTES\KARINA.jpg" alt="image">
                                        </div>
                                        <!-- FIN DE IMAGEN DE KARINA -->



                                        <!-- INFORMACION DE KARINA  -->
                                        <div class="col  text-center text-md-start">
                                            <div class="fuente-roboto-4">KKARINA MORENO CONTRERAZ.</div>
                                            <div class="fuente-roboto-5">Co-Foundera.</div>
                                        </div>
                                        <!-- INFORMACION DE KARINA  -->



                                    </div>
                                </div>
                                <!-- FIN CARRUSEL DE SEGUNDO INTEGRANTES -->





                            </div>
                        </div>
                    </div>
                </div>
            </div>




            <!-- LOGO GRANDE  -->

            <div class="col-12 col-md-5 mb-5 align-self-center">
                <div class="book-cover-holder">
                    <img class="img-fluid book-cover" src="assets/img/2_LOGO/LOGO_ORIGINAL.png" alt="book cover">
                </div>
            </div>
            <!--FIN LOGO GRANDE  -->


        </div>
        <!--FIN DE row-->
    </div>
    <!-- FIN DE container-->
</section>
<!--FIN DE section-->







<!-- Tarjetas de misvios y vision -->
<section id="benefits-section" class="benefits-section theme-bg-light-gradient py-5">
    <div class="container py-5 ">
        <h2 class=" text-center fuente-roboto-1 mb-3">OBJETIVO</h2>
        <div class="row text-center justify-content-center ">
            <div class="item col-12 col-md-6 col-lg-9 ">
                <div class="item-inner p-3 p-lg-4">

                    <!--//item-heading-->
                    <div class="item-desc fuente-roboto-2">
                        El fin primordial que a través de servicio y apoyos, impulsar y fomentar el crecimiento y desarrollo depersonas en estado de vulnerabilidad.
                    </div>
                    <!--//item-desc-->
                </div>
                <!--//item-inner-->
            </div>
            <!--//item-->



            <!-- <div class="item col-12 col-md-6 col-lg-4">
                <div class="item-inner p-3 p-lg-4">
                    <div class="item-header mb-3">
                        <span class="item-heading fuente-roboto-3">VISION.</span>
                    </div>
                    <div class="item-desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae perferendis at eum explicabo saepe accusamus id corrupti minus nostrum, quod iure dolor dolorem nemo soluta ut dolore aspernatur mollitia rerum!
                    </div>
                </div>
            </div> -->


        </div>
        <!--//row-->
    </div>
    <!--//container-->
</section>
<!--//benefits-section-->

<!--  FIN de Tarjetas de misvios y vision -->






<!-- SECCION DE LO QUE HACEMOS  -->
<section id="content-section" class="content-section">
    <div class="container">
        <div class="single-col-max mx-auto">
            <h2 class="fuente-roboto-1 text-center mb-5">LO QUE HACEMOS.</h2>



            <div class="row justify-content-center">


                <!--CARRUSEL DE FOTOS DE LA AC -->
                <div class="col-12  col-md-9">
                    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-indicators">
                            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
                            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
                            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3" aria-label="Slide 4"></button>

                        </div>

                        <div class="carousel-inner ">
                            <!-- imagen de carusel 1 -->
                            <div class="carousel-item active">
                                <img src="assets\img\4_ACTIVIDADES\LO_QUE_HACEMOS1.jpg" class="d-block w-100 " alt="IMAGEN">
                                <div class="carousel-caption d-none d-md-block">
                                    <!-- <h5>First slide label</h5>
                                    <p>Some representative placeholder content for the first slide.</p> -->
                                </div>
                            </div>
                            <!-- FIN imagen de carusel 1 -->



                            <!-- imagen de carusel 2 -->
                            <div class="carousel-item">
                                <img src="assets\img\4_ACTIVIDADES\LO_QUE_HACEMOS2.jpg" class="d-block w-100" alt="IMAGEN">
                                <div class="carousel-caption d-none d-md-block">
                                    <!-- <h5>Second slide label</h5>
                                    <p>Some representative placeholder content for the second slide.</p> -->
                                </div>
                            </div>
                            <!--FIN imagen de carusel 2 -->



                            <!-- imagen de carusel 3 -->
                            <div class="carousel-item ">
                                <img src="assets\img\4_ACTIVIDADES\LO_QUE_HACEMOS3.jpg" class="d-block w-100 " alt="IMAGEN">
                                <div class="carousel-caption d-none d-md-block">
                                    <!-- <h5>First slide label</h5>
                                    <p>Some representative placeholder content for the first slide.</p> -->
                                </div>
                            </div>
                            <!-- FIN imagen de carusel 3 -->



                            <!-- imagen de carusel 4 -->
                            <div class="carousel-item">
                                <img src="assets\img\4_ACTIVIDADES\LO_QUE_HACEMOS4.png" class="d-block w-100" alt="IMAGEN">
                                <div class="carousel-caption d-none d-md-block">
                                    <!-- <h5>Second slide label</h5>
                                    <p>Some representative placeholder content for the second slide.</p> -->
                                </div>
                            </div>
                            <!--FIN imagen de carusel 4 -->

                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
                          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                          <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
                          <span class="carousel-control-next-icon" aria-hidden="true"></span>
                          <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                    <!--//figure-holder-->
                </div>
                <!-- FIN DE CARRUSEL DE FOTOS DE LA AC -->



                <!--LISTA DE OBJETIVOS-->
                <div class="col-12 col-md-8 mb-5">
                    <div class="key-points mb-4 text-center">
                        <br>

                        <ul class="key-points-list list-unstyled mb-4 mx-auto d-inline-block text-start">
                            <li><i class="fas fa-check-circle me-2"></i>Lograr toda clase de proyectos de invesion a favor de la sociedad.</li>
                            <li><i class="fas fa-check-circle me-2"></i>Promover e impulsar el desarrollo comunitario en localidades de zonas marginadas.</li>
                            <li><i class="fas fa-check-circle me-2"></i>Brindar educación o capacitacion para el trabajo a personas de escasos recursos o de zonas marginales.</li>
                            <li><i class="fas fa-check-circle me-2"></i>Fomentar el merjoamiento y la integración social y familiar de la población.</li>


                        </ul>

                    </div>
                    <!--//key-points-->

                </div>
                <!-- FIN LISTA DE OBJETIVOS-->



            </div>
            <!--//row-->
        </div>
        <!--//single-col-max-->
    </div>
    <!--//container-->
</section>
<!-- FIN SECCION DE LO QUE HACEMOS  -->






<!-- COMO PUEDES AYUDAR  -->
<section id="audience-section" class="audience-section py-5">
    <div class="container">
        <h2 class=" text-center fuente-roboto-1 mb-4">COMO PUEDES AYUDAR?</h2>
        <div class="  fuente-roboto-3 single-col-max mx-auto text-center mb-5">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dicta explicabo reiciendis repudiandae alias minus laboriosam nostrum officia magnam officiis soluta enim culpa, sequi veniam sit maxime numquam! Nulla, eligendi modi.
        </div>

    </div>
    <!--//container-->
</section>
<!--//audience-section-->

<!--FIN COMO PUEDES AYUDAR  -->







<!-- Equipo -->







<section id="content" class="content-section">
    <div class="container">
        <div class="single-col-max mx-auto">
            <h2 class="fuente-roboto-1 text-center mb-5">EQUIPO.</h2>
            <div class="row justify-content-center">


                <!--CARRUSEL DE FOTOS DE LA AC -->

                <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="assets\img\8_EQUIPO\EQUIPO_1.jpg" class="d-block w-100" alt="IMAGEN">
                        </div>
                        <div class="carousel-item">
                            <img src="assets\img\8_EQUIPO\EQUIPO_2.jpg" class="d-block w-100" alt="IMAGEN">
                        </div>
                        <div class="carousel-item">
                            <img src="assets\img\8_EQUIPO\EQUIPO_3.jpeg" class="d-block w-100" alt="IMAGEN">
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Anterior</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Siguiente</span>
                    </button>
                </div>

            </div>
        </div>
    </div>



</section>
<!-- FIN de EQUIPO -->










<!-- QUIENES LO CONFORMAN -->
<section id="reviews-section" class="reviews-section py-5">
    <div class="container">
        <h2 class="fuente-roboto-1 text-center">FUNDADORES</h2>
        <br>
        <div class="row justify-content-center">




            <!-- persona 1 -->
            <div class="item col-12 col-lg-4 p-3 mb-4">
                <div class="item-inner theme-bg-light rounded p-4">
                    <blockquote class="item-desc">
                        Todos tenemos la oportunidad y responsabilidad de ayudar en proporción de nuestras posibilidades. Ponernos al servicio de los demás es una de las virtudes más nobles y gratificantes.
                    </blockquote>

                    <div class="source row gx-md-3 gy-3 gy-md-0">
                        <div class="col-12 col-md-auto text-center text-md-start">
                            <img class="source-profile" src="assets\img\3_INTEGRANTES\JuanP.jpeg" alt="image">
                        </div>



                        <div class="col source-info text-center text-md-start">
                            <div class="item-desc">JUAN PABLO RODRIGUEZ SALINAS</div>
                            <div class="item-desc">FUNDADOR</div>
                        </div>
                    </div>
                </div>
            </div>
            <!--FIN de  persona 1 -->





            <!-- persona 2 -->
            <div class="item col-12 col-lg-4 p-3 mb-4">
                <div class="item-inner theme-bg-light rounded p-4">
                    <blockquote class="item-desc">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam necessitatibus quod porro veritatis. Totam iste illum minus deserunt! Facilis ipsum architecto totam aspernatur molestiae cumque aut possimus incidunt aliquam? Magnam.
                    </blockquote>

                    <div class="source row gx-md-3 gy-3 gy-md-0 align-items-center">
                        <div class="col-12 col-md-auto text-center text-md-start">
                            <img class="source-profile" src="assets\img\3_INTEGRANTES\KARINA.jpg" alt="image">
                        </div>

                        <div class="col source-info text-center text-md-start">
                            <div class="item-desc">KARINA MORENO</div>
                            <div class="item-desc">Co-FUNDADORA</div>
                        </div>

                    </div>

                </div>

            </div>
            <!--FIN persona 1 -->









            <div class="item col-12 col-lg-4 p-3 mb-4">
                <div class="item-inner theme-bg-light rounded p-4">
                    <blockquote class="qitem-desc">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui deleniti laudantium repudiandae accusantium minima tenetur et laborum doloremque earum? Molestiae, incidunt id necessitatibus recusandae voluptas similique in accusantium nesciunt laboriosam?
                    </blockquote>
                    <!--//item-->
                    <div class="source row gx-md-3 gy-3 gy-md-0 align-items-center">
                        <div class="col-12 col-md-auto text-center text-md-start">
                            <img class="source-profile" src="assets/images/profiles/profile-3.png" alt="image">
                        </div>
                        <!--//col-->
                        <div class="col source-info text-center text-md-start">
                            <div class="item-desc">aURELIA SALINAS</div>
                            <div class="item-desc">APOYO</div>
                        </div>
                        <!--//col-->
                    </div>
                </div>
                <!--//inner-->
            </div>
            <!--//item-->



        </div>
        <!--//row-->


        <div class="text-center">
            <a class="btn btn-c" href="https://www.facebook.com/profile.php?id=100064876893047">
                <img src="assets\img\6_SIGUENOS\facebook.svg" alt="icono" width="20" height="20"> CONTACTANOS</a>

        </div>
    </div>
    <!--//container-->
</section>
<!--//reviews-section-->

<!--FIN QUIENES LO CONFORMAN -->





<!--  Footer -->

<!-- Barra de contactos -->
<div class="row fondo-color-d2 color-z2 w-100 justify-content-center fuente-roboto-5">


    <!-- Logo -->
    <div class="col-3 d-none d-lg-block my-auto text-center">
        <img src="assets\img\2_LOGO\LOGO_BLANCO.png" alt="Logo" width="65%">
    </div>
    <!-- FIN Logo -->


    <!-- Contactos de en medio -->
    <div class="col-12 col-md-4 col-lg-3 my-3 my-md-5 borde-izquierdo">

        <div class="row w-100">
            <div class="col">
                <span class="h6">CONTÁCTANOS</span>
            </div>
        </div>

        <!-- Ubicacion -->
        <div class="row w-100 align-items-center pt-3">


            <!-- Icono -->
            <div class="col-auto">
                <img src="assets\img\5_CONTACTANOS\direccion.svg" alt="Ubicacion" width="15rem" height="15rem">
            </div>
            <!-- FIN Icono -->


            <!-- Texto -->
            <div class="col p-0 text-left">
                <span class="fuente-roboto">Olimpo 14, Barrio de San Juan, 58930 Zinapecuaro de Figueroa, Mich.</span>
            </div>
            <!-- FIN Texto -->


        </div>
        <!-- FIN Ubicacion -->


        <!-- Correo -->
        <div class="row w-100 align-items-center pt-3">


            <!-- Icono -->
            <div class="col-auto">
                <img src="assets\img\5_CONTACTANOS\correo.svg" alt="Correo" width="15rem" height="15rem">
            </div>
            <!-- FIN Icono -->


            <!-- Texto -->
            <div class="col p-0 text-left">
                <span class="fuente-roboto">zinapecuarocuentaconmigo@gmail.com</span>
            </div>
            <!-- FIN Texto -->


        </div>
        <!-- FIN Correo -->



    </div>
    <!-- FIN Contactos de en medio -->



    <!-- Contactos derecha -->
    <div class="col-12 col-md-3 col-lg-2 my-3 my-md-5 borde-izquierdo">

        <div class="row w-100">
            <div class="col">
                <span class="h6">SÍGUENOS EN</span>
            </div>
        </div>



        <!-- Facebook -->
        <div class="row w-100 cursor align-items-center py-3" (click)="linkFacebook()">


            <!-- Icono -->
            <div class="col-auto">
                <img src="assets\img\6_SIGUENOS\facebook.svg" alt="Facebook" width="15rem" height="15rem">
            </div>
            <!-- FIN Icono -->


            <!-- Texto -->
            <div class="col p-0 text-left">
                <span class="fuente-roboto">Zinapecuaro Cuenta Conmigo</span>
            </div>
            <!-- FIN Texto -->


        </div>
        <!-- FIN Facebook -->


    </div>
    <!-- FIN Contactos derecha -->


</div>
<!-- FIN Barra de contactos -->
<!-- FIN Footer -->