$color-azul: #0d6efd;
$color-indigo: #6610f2;
$color-morado: #6f42c1;
$color-rosa: #d63384;
$color-rojo: #dc3545;
$color-naranja: #fd7e14;
$color-amarillo: #ffc107;
$color-verde: #198754;
$color-teal: #20c997;
$color-cyan: #0dcaf0;
$color-negro: #000;
$color-blanco: #fff;
$color-gris: #9ea3c4;
$color-gris-obscuro: #60669d;
$color-gris1: #eeeef4;
$color-gris2: #dedfeb;
$color-gris3: #ced0e1;
$color-gris4: #bec1d7;
$color-gris5: #9ea3c4;
$color-gris6: #7f84b1;
$color-gris7: #60669d;
$color-gris8: #1c1e2e;
$color-primary: #ed6524;
$color-secondary: #4c527d;
$color-success: #198754;
$color-info: #0dcaf0;
$color-warning: #ffc107;
$color-danger: #dc3545;
$color-light: #fff;
$color-dark: #1c1e2e;

/*------------------------------------------------*/

$color-a1: #017436;
$color-a2: #025035;
$color-a3: #67AC86;
$color-b1: #2D353C;
$color-b2: #161D22;
$color-b3: #3C4650;
$color-b4: #f6f8fc;
$color-c1: #0055AA;
$color-c2: #002B55;
$color-c3: #6699CC;
$color-d1: #E6501E;
$color-d2: #AD3C16;
$color-d3: #EB734B;
$color-e1: #FFAA00;
$color-e2: #F08C00;
$color-e3: #FFCC66;
$color-f1: #B41E18;
$color-f2: #871612;
$color-f3: #C34B46;
$color-z1: #000;
$color-z2: #fff;

/* FIN Paleta de colores */